---
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import SectionInfo from "../components/SectionInfo.astro";
import Fakta from "../components/Fakta.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>

  <body>
    <Navigation />

    <Hero bgImage="/images/mandpaahest.png" />
    <br />
    <SectionInfo h2="Mental restitution for medarbejdere" />
    <br />
    <Fakta />
    <Footer />
  </body>
</html>
