---
import PageLayout from "../layouts/PageLayout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import SectionInfo from "../components/SectionInfo.astro";
import Fakta from "../components/Fakta.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>

  <body>
    <Navigation />

    <Hero bgImage="/images/mandpaahest.png" />
    <br />
    <SectionInfo h2="Mental restitution for medarbejdere" p1="Skab bedre trivsel for dit team med SoundWheel. Vores korte sessioner er let tilgængelige og skaber nærende små pauser i løbet af arbejdsdagen. De reducerer stress, skærper fokus og giver ny energi." p2="Brug SoundWheel både individuelt og i fællesskab, og løft stemningen på kontoret. Det giver mere overskud og skaber psykologisk tryghed." p3="Invester i dit teams trivsel og oplev den positive effekt i hele din organisation. Ræk ud til os for at høre mere om SoundWheel for virksomheder. " />
    <br />
    <Fakta />
    <Footer />
  </body>
</html>
