---
import Navigation from "../components/Navigation.astro";
import Hero2 from "../components/Hero2.astro";
import SectionInfo from "../components/SectionInfo.astro";
import Footer from "../components/Footer.astro";
import BigBillede from "../components/BigBillede.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Om Sound Wheel</title>
  </head>

  <body>
    <Navigation />

    <Hero2 />

    <SectionInfo h2="Hos SoundWheel tror vi på, at mental trivsel starter med pausen" p1="Vi skaber lydoplevelser, der hjælper medarbejdere med at finde ro, fokus og fornyet energi, midt i en travl arbejdsdag." p2="Vores korte, guidede lydsessioner er designet til at give små øjeblikke af restitution, hvor krop og sind får mulighed for at genoplades. Lyden bliver et værktøj til at skabe nærvær, reducere stress og styrke både koncentration og samarbejde." p3="Vi arbejder med et enkelt mål: at gøre trivsel til en naturlig del af arbejdsdagen, ikke en ekstra opgave. Vi tror på, at når mennesker har det godt, arbejder de bedre." p4="Derfor hjælper vi virksomheder med at skabe et sundere, mere fokuseret og trygt arbejdsmiljø, én lydrejse ad gangen." />

    <BigBillede />

    <Footer />
  </body>
</html>
