---
import Navigation from "../components/Navigation.astro";
import Hero2 from "../components/Hero2.astro";
import SectionInfo from "../components/SectionInfo.astro";
import Footer from "../components/Footer.astro";
import BigBillede from "../components/BigBillede.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Om SoundWheel</title>
  </head>
  <body>
    <Navigation />
    <Hero2 />
    <SectionInfo h2="Hos SoundWheel tror vi på, at mental trivsel starter med pausen" text="Hejhejhej" />
    <BigBillede />
    <Footer />
  </body>
</html>
