<section class="anmeldelser">
  <div class="">
    <h1>Virksomheder har skabt ro og fokus med Sound Wheel</h1>
  </div>
  <p>“Jeg var skeptisk i starten, men efter få uger kunne vi se, at trivselsscoren i vores interne survey steg. Platformen er let at bruge, og meditationerne føles autentiske.”</p>
  <p>— Anne M., HR Manager, GreenHR Solutions</p>

  <style>
    .anmeldelser {
      background-color: #e2ddd5;
      padding: 10rem 2rem;
      text-align: center;
    }
  </style>
</section>
