<section class="baggrundsbillede">
  <div class="h1_om_billede">
    <h1>SoundWheel</h1>
  </div>

  <style>
    .baggrundsbillede {
      background-image: url(/public/images/boelger.png);
      background-size: cover;
      background-position: center;
      /* farve til tekst color: ; */
      padding: 10rem 2rem;
    }
    .h1_om_billede {
      max-width: 500px;
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  </style>
</section>
