<section class="hero">
  <div class="h1_virk">
    <h1>SoundWheel for virksomheder</h1>
    <p>Bedre pauser for dine medarbejdere</p>
  </div>

  <style>
    .hero {
      background-image: url(/public/images/jakkesæt_meditation.png);
      background-size: cover;
      background-position: center;
      /* farve til tekst color: ; */
      text-align: center;
      padding: 16rem 2rem;
    }
    .h1_virk {
      max-width: 500px;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  </style>
</section>
