<section class="hero">
  <div class="h1_forside">
    <h1>Nem genopladning</h1>
    <p>Via <strong>progressiv</strong> musik</p>

    <div class="download_knapper">
      <img src="/images/googleplay.png" alt="Get it on Google Play" />
      <img src="/images/appstore.png" alt="Download on the App Store" />
    </div>
  </div>
</section>

<style>
  .hero {
    background-image: url(/images/mandpaahest.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 1.5rem;
    text-align: center;
  }

  .h1_forside {
    margin-bottom: 7.5rem;
    color: #3b1314;
  }
  .h1_forside h1 {
    font-size: 2rem;
  }

  .h1_forside p {
    font-size: 1.1rem;
  }

  .download_knapper {
    display: flex;
  }

  @media (min-width: 800px) {
    .hero {
      padding: 16rem 2rem;
      text-align: left;
    }

    .h1_forside {
      text-align: left;

      margin-right: 30rem;
    }
    .h1_forside p {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }

    .download_knapper {
      flex-direction: row;
    }
    .download_knapper img {
      height: 55px;
      cursor: pointer;
    }
  }
</style>
