<section class="hero">
  <div class="h1_forside">
    <h1>Nem genopladning</h1>
    <p>Via <strong>progressiv</strong> musik</p>

    <div class="download_knapper">
      <img src="/public/images/googleplay.png" alt="Get it on Google Play" />
      <img src="/public/images/appstore.png" alt="Download on the App Store" />
    </div>
  </div>
</section>

<style>
  .hero {
    background-image: url(/public/images/mandpaahest.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16rem 2rem;
  }
  .h1_forside {
    text-align: left;
    color: #3b1314;
    margin-right: 30rem;
  }
  .h1_forside h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .h1_forside p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .download_knapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .download_knapper img {
    height: 55px;
    cursor: pointer;
  }
</style>
