<section class="hero">
  <div class="h1_virk">
    <h1>SoundWheel for virksomheder</h1>
    <p>Bedre pauser for dine medarbejdere</p>
  </div>

  <style>
    .hero {
      background-image: url(/public/images/mediterende.webp);
      background-size: cover;
      background-position: center;
      /* farve til tekst color: ; */
      text-align: center;
      padding: 16rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      color: white;
      text-align: center;
      padding: 2rem;
    }
    .h1_virk {
      max-width: 800px;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  </style>
</section>
