<section class="hero">
  <div class="h1_om">
    <h1>Hvad er SoundWheel ?</h1>
  </div>

  <style>
    .hero {
      background-image: url(/images/kvinde.png);
      background-size: cover;
      background-position: center;
      /* farve til tekst color: ; */
      text-align: right;
      padding: 16rem 2rem;
    }
    .h1_om {
      max-width: 500px;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  </style>
</section>
