<section class="hero">
  <div class="h1_forside">
    <h1>Nem genopladning</h1>
    <p>Via progressiv musik</p>

    <div class="download_knapper">
      <img src="/public/images/googleplay.png" alt="Get it on Google Play" />
      <img src="/public/images/appstore.png" alt="Download on the App Store" />
    </div>
  </div>
</section>

<style>
  .hero {
    background-image: url(/public/images/mandpaahest.png);
    background-size: cover;
    background-position: center;
    /* farve til tekst color: ; */
    text-align: left;
    padding: 16rem 2rem;
  }
  .h1_forside {
    max-width: 500px;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
</style>
