<nav>
  <div><img src="/public/images/logoSW.png" alt="logo" /></div>
  <ul>
    <a href="/">Hjem</a>
    <a href="/virksomheder">Virksomheder</a>
    <a href="/om">Om SoundWheel</a>
  </ul>
</nav>

<style>
  nav {
    background-color: #c5bcaa;
    color: #3b1314;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    max-width: 40%;
  }
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: #3b1314;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
