<section class="to_sider">
  <div class="venstre">
    <div class="feature">
      <img src="/images/soundwheel_tlf_ikon.png" alt="Sound icon" />
      <p>Adgang til vores komplette bibliotek af lydrejser, som kan bruges til individuelt eller i grupper.</p>
    </div>

    <div class="feature">
      <img src="/images/computer_ikon.png" alt="computer icon" />
      <p>Brugervenligt adminpanel. Tilføj alle medarbejdere ved tryk på én knap.</p>
    </div>

    <div class="feature">
      <img src="/images/statestikker_ikon.png" alt="Statestikker icon" />
      <p>Statistikker, der giver indsigt i, hvordan SoundWheel skaber organisationen.</p>
    </div>
  </div>

  <div class="hoejre">
    <img src="/images/kvindepaamark.png" alt="Grøn baggrund med kvinde på" />
  </div>
</section>

<style>
  .to_sider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem 2rem;
    margin: 4rem;
  }

  .venstre {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 300px;
  }

  .feature img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .feature p {
    color: #3a1414;
    font-size: 1rem;
    line-height: 1.5;
  }

  .hoejre img {
    width: 100%;
    max-width: 450px;
    border-radius: 3px;
    object-fit: cover;
  }

  /* @media (max-width: 768px) {
    .features2 {
      flex-direction: column;
      text-align: center;
    }

    .hoejre img {
      max-width: 100%;
    }
  } */
</style>
