---
const { img, h2, text } = Astro.props;
---

<section class="info">
  <div>
    <h2>{h2}</h2>
    <p>{text}</p>
  </div>
  <div>
    <img src="/public/images/logo_stor.svg" alt="stort logo" />
  </div>
</section>

<style>
  .info {
    background-color: #e2ddd5;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .info img {
    max-width: 90%;
  }
  .info h2 {
    margin-bottom: 1rem;
    padding: 2rem;
    max-width: 60%;
  }
  .info p {
    max-width: 500px;
  }
</style>
