<section class="to_sider">
  <div class="venstre">
    <div class="feature">
      <img src="/public/images/soundwheel_tlf_ikon.png" alt="Sound icon" />
      <p>Adgang til vores komplette bibliotek af lydrejser, som kan bruges til individuelt eller i grupper.</p>
    </div>

    <div class="feature">
      <img src="/icons/admin.svg" alt="Admin icon" />
      <p>Brugervenligt adminpanel. Tilføj alle medarbejdere ved tryk på én knap.</p>
    </div>

    <div class="feature">
      <img src="/icons/stats.svg" alt="Stats icon" />
      <p>Statistikker, der giver indsigt i, hvordan SoundWheel skaber organisationen.</p>
    </div>
  </div>

  <div class="hoejre">
    <img src="/public/images/kvindepaamark.png" alt="Grøn baggrund med kvinde på" />
  </div>
</section>

<style>
  .to_sider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem 2rem;
    margin: 4rem;
  }

  .venstre {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .feature {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  .feature img {
    width: 30px;
    height: 30px;
  }

  .feature p {
    color: #3a1414;
    font-size: 0.95rem;
  }

  .hoejre img {
    width: 100%;
    max-width: 400px;
    border-radius: 2px;
  }

  /* @media (max-width: 768px) {
    .features2 {
      flex-direction: column;
      text-align: center;
    }

    .hoejre img {
      max-width: 100%;
    }
  } */
</style>
